.fullheight {
	height:100%;
}

.hide-all {
	display: none !important;
}

.btn {
	border-radius: 0px;
	border: 0px;
	transition: all 0.3s ease 0s;
}

/* removing button glow */
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
}

.input-bar-btn {
	background-color: #337ab7;
	color: white;
	padding: 3px 3px 3px 3px;
}

#message-input {
	border-color: #337ab7;
}



.modal-content {
	border-radius: 0px;
}

/*.user-plaque {
	height: 60px;
	border-radius: 0px;
	width: 100%;
} ??? no idea why i did this*/

.nospacing {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.game-avi {
	border: 1px solid black;
}

.flex-outer-col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	flex-grow: 0;
    flex-flow: column nowrap;
}

.flex-inner-col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-grow: 1;
	flex-flow: column nowrap;
	overflow-y: auto;
}

/*icon styles*/
.pagescroll {
	font-size:25px;
    color:#fff;
}

.timeofgame {
	font-size:25px;
    color:#fff;
}

.timeofgame > sub {
	position: relative;
	right: 7px;
}

#game-status-ticker {
	font-size: 80%;
	position: relative;
	bottom: 7px;
}


/* user plaque styles */
.mobile-user-plaque {
	height: 40px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
	overflow: hidden;
	position: relative;
}

.desktop-user-plaque {
	height: 40px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
	overflow: hidden;
	position: relative;
}

.role-indicator {
	position: absolute;
	top: 20px;
	left: 21px;
}

.vote-button {
	border: 1px solid;
}

.voting-text {
	color: rgb(200, 200, 200);
	position: relative;
    top: -5px;
	right: -10px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 80%;
}

.name-text {
	position: relative;
    top: 3px;
	right: -5px;
	overflow: hidden;
	white-space: nowrap;
}

.voteable.vote-button:hover {
	transition: all 0.3s ease 0s;
	border: 1px solid red;
}
.voted {
	transition: all 0.3s ease 0s;
	border: 1px solid red;
	box-shadow: 0 0 8px rgba(255,0,0, 0.6);
}

.townsfolk {
	color:white;
	border-color: white;
}
.mafioso {
	color:black;
	border-color: black;
}
.mafioso.action-btn, .mafioso.expansion-btn {
	color:white;
	border-color: white;
	background-color: black;
}
.others {
	color:green;
	border-color: green;
}
.others.action-btn, .others.expansion-btn {
	color:white;
	border-color: white;
	background-color: green;
}

#game-menu {
	font-size: 40px;
}
#game-menu-dropdown {
	top: 53px;
}
.game-dropdown {
	position: absolute;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #337ab7;
	color: white;
	box-shadow: none;
	border-radius: 0px;
	border: none;
}
.game-dropdown div {
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
}
.game-dropdown div:hover {
	transition: all 0.3s ease 0s;
	background-color: rgba(0, 0, 0, 0.3);
	
}
.game-dropdown:hover {
	cursor: pointer;
}

.expansion-btn {
	margin: 15px 5px 5px 0px;
	font-size:12px;
	border: 1px solid;
	background: transparent;
}
.expansion-btn:hover {
	cursor: pointer;
}

.hide-graveyard > .dead {
	display: none;
}

#desktop-graveyard-marker {
	padding-left: 10px;
}

.action-btn {
    width:42px;
    height:42px;
    border-radius:50%;
    font-size:23px;
    line-height:42px;
    text-align:center;
	margin: 5px 5px 5px 0px;
	border: 1px solid;
}

/* correct small action button height deficit.. hopefully */
.action-btn > .glyphicons {
	position:relative;
	top:2px;
}
	
.action-btn:hover, #game-menu {
	cursor: pointer;
}

#extra-actnbtns {
	position: absolute;
	top: 50px;
	min-width: 0px;
	padding: 0px 0px 0px 5px;
	margin: 2px 2px 0px 0px;
	background-color: #337ab7;
}

#inner-action-pane {
	background: transparent;
	box-shadow: none;
	border: none;
}

#card-art-outer {
	border: 1px solid black;
	width: 250px;
	height: 350px;
	margin-left: auto;
    margin-right: auto;
	border-radius: 8px;
	background: grey;
}
#card-art-icon {
	position: absolute;
	font-size: 27px;
	padding: 3px;
}
#card-targeting-outer {
	margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	width: 150px;
}
#card-art-topline {
	position: relative;
	margin-top: 15px;
	text-align: center;
	font-size: 150%;
}
#card-art-drawing {
	height: 120px;
	margin-left: 35px;
	margin-right: 35px;
	border: 2px solid black;
	border-radius: 8px;
}
#card-art-description {
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 25px;
}

#card-targeting-outer > tbody > tr {/* The targeting buttons themselves*/
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	height: 40px;
	min-height: 40px;
	max-height: 40px;
}
#card-targeting-outer > tbody > tr:hover {
	cursor: pointer;
}
.targeting-image {
	background: #EEEEEE;
	padding-left: 5px;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
}
.targeting-image > img {width: 30px;height: 30px;
}
.targeting-name {
	background: #EEEEEE;
	width: 110px;
	min-width: 110px;
	max-width: 110px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-weight: bold;
	/*text-align: center;*/
}
#card-targeting-outer > tbody > tr:first-child > .targeting-image {border-top-left-radius: 10px;}
#card-targeting-outer > tbody > tr:first-child > .targeting-name {border-top-right-radius: 10px;}
#card-targeting-outer > tbody > tr:last-child > .targeting-image {border-bottom-left-radius: 10px;}
#card-targeting-outer > tbody > tr:last-child > .targeting-name {border-bottom-right-radius: 10px;}
#card-targeting-outer > tbody > tr {border-bottom: 1px solid black;}
#card-targeting-outer > tbody > tr:last-child {border-bottom: 0px;}
.action-picked > td {background: #337ab7;color: #EEEEEE;}

#game-header {
	position: relative;
	height: 52px;
	background-color: #337ab7;
	border-left: 1px solid #DDDDDD;
	color: #EEEEEE;
	min-height: 50px;
}

#desktop-playerbox {
	background-color: #337ab7;
	color: white;
}

#mobile-playerbox {
	background-color: #337ab7;
	color: white;
}

#input-bar {
	background-color: #337ab7;
	color: #EEEEEE;
}
/*
	background-color: #181818;
	color: #C9C9C9;*/

/* game chat styles */
#game-chat-box {
	overflow-x: hidden;
	background-color: #EEEEEE;
	color: #222222;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
}

.chat-row {
	vertical-align: top;
}

.sysmsg {
	color: darkred;
}

.timestamp {
	color: grey;
	overflow: hidden;
	white-space: nowrap;
	font-size: 67%;
	width: 22px;
	position: relative;
    top: 5px;
}

.avi-img {
	overflow: hidden;
	width: 20px;
	height: 20px;
}

.avi-img > img {
	width: 20px;
	height: 20px;
}

.chatter-name-desktop, .chatter-name-mobile {
	width: 70px;
	max-width: 70px;
	border-right: 6px solid transparent;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}

.chatter-name-mobile {
	display: inline-block;
	vertical-align: middle;
}

.msg {
	word-wrap: break-all;
	overflow-wrap: break-word;
}

/* DEVICE SPECIFIC CSS ATTRIBUTES FOR THE GAME */
@media (max-width: 640px) {
  #desktop-playerbox, .chatter-name-desktop, #desktop-options-button {
    display: none;
  }
}
@media (min-width: 641px) {
  #mobile-playerbox, .chatter-name-mobile, #hide-players-mobile-button, #hide-graveyard-mobile-button {
    display: none;
  }
}