<!doctype html>
<html lang="en" class="fullheight">
  <head>
	<title>Website Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/glyphicons.css">
	<link rel="stylesheet" href="/css/main.css">
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script>
	var username = "<%= username %>";
	var game_id = "<%= game_id %>";
	var token = "<%= token %>";
	var game = <%- JSON.stringify(game) %>;
	</script>
	<script src="/scripts/core.js"></script>
  </head>
  <body class="fullheight">
	<div class="container-fluid fullheight nospacing">
		<div class="col-xs-2 flex-outer-col fullheight nospacing" id="desktop-playerbox">
			<div class="row flex-inner-col nospacing" id="desktop-playerlist">
				<span id="desktop-graveyard">
					<div class="row nospacing" id="desktop-graveyard-marker">Graveyard</div>
				</span>
			</div>
		</div>
		<div class="col-xs flex-outer-col fullheight nospacing">
			<div class="row nospacing" id="game-header">

				<div class="dropdown pull-left">
					<span id="game-menu" class="dropdown-toggle glyphicons glyphicons-menu-hamburger" data-toggle="dropdown"></span>
					<div class="dropdown-menu game-dropdown" id="game-menu-dropdown" aria-labelledby="game-menu">
						<div>aaaaaaa</div>
						<div>aaaaaaa</div>
						<div>aaaaaaa</div>
						<div>aaaaaaa</div>
						<div onclick="icon_click(this, 'no one');">No Lynch</div>
						<div>Leave Game</div>
					</div>
				</div>

				<table style="display:inline-block;">
					<tbody>
						<tr>
							<td><a class="pagescroll" onclick="render_page(current_page - 1)"><span class="glyphicons glyphicons-circle-arrow-left"></span></a></td>
							<td><a class="timeofgame" onclick=""><span class=""></span><sub></sub></a></td>
							<td><a class="pagescroll" onclick="render_page(current_page + 1)"><span class="glyphicons glyphicons-circle-arrow-right"></span></a></td>
						</tr>
						<tr><td style="text-align:center" colspan="3">
							<span id="game-status-ticker"></span>
						</td></tr>
					</tbody>
				</table>
				<span id="expansion-btn-id" class="badge expansion-btn pull-right dropdown-toggle" data-toggle="dropdown" style="display: none;">. . .</span>
				<div class="dropdown-menu dropdown-menu-right" id="extra-actnbtns" aria-labelledby="expansion-btn-id"></div>
			</div>
			<div class="row flex-inner-col nospacing" id="game-chat-box">
				<table id="game-chat-box-inner">
				</table>
			</div>
			<div class="row nospacing" id="input-bar">
				<div class="input-group">
					<input class="form-control" id="message-input" onfocus="toggle_keyboard();" onblur="toggle_keyboard();" onkeydown="enter_key_msg(event);">
					<span class="input-group-btn">
						<button class="btn input-bar-btn" type="button" id="send-message-button" onclick="send_msg();"><span class="glyphicons glyphicons-send"></span></button>
						<button class="btn input-bar-btn" type="button" id="hide-players-mobile-button" onclick="toggle_mobile(1);"><span class="glyphicons glyphicons-minus"></span></button>
						<button class="btn input-bar-btn" type="button" id="hide-graveyard-mobile-button" onclick="toggle_mobile(0);"><span class="glyphicons glyphicons-skull"></span></button>
						<button class="btn input-bar-btn" type="button" id="desktop-options-button"><span class="glyphicons glyphicons-cogwheel"></span></button>
					</span>
				</div>
			</div>
			<div class="row nospacing" id="mobile-playerbox-outer">
				<div class="row nospacing" id="mobile-playerbox">
				</div>
			</div>
		</div>
		
		<div id="action_pane" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="action_pane" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" id="inner-action-pane">
					<div class="container-fluid nospacing">
						<div class="row nospacing">
							<div class="col-sm-6 nospacing">
								<div id="card-art-outer">
									<span id="card-art-icon" class="glyphicons"></span>
									<div id="card-art-topline"></div>
									<div id="card-art-drawing"></div>
									<div id="card-art-description"></div>
								</div>
							</div>
							<div class="col-sm-6 nospacing">
								<table id="card-targeting-outer">
									<tbody>
										<tr data="stay low" onclick="action_pick(this);">
											<td class="targeting-image"><span class="glyphicons glyphicons-bed-alt"></span></td>
											<td class="targeting-name">Stay low</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="hidden-bin" style="display:none;"></div>
		
	</div>
  </body>
  <footer>
	<script src="/scripts/mafia.js"></script>
  </footer>
</html>