<!doctype html>
<html lang="en">
  <head>
	<title>Website Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/glyphicons.css">
	<link rel="stylesheet" href="/css/main.css">
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="/scripts/core.js"></script>
  </head>
  <body>
  
	<!-- Navbar -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<span class="pull-right">
					<div class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" style="font-size:15px;"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Option 1</a></li>
							<li><a href="#">Option 2</a></li>
							<li><a href="#">Option 3</a></li>
							<li class="divider"></li>
							<li><a href="/logout">Log Out</a></li>
						</ul>
					</div>
					<div><span>Welcome, </span><a><%= username %></a></div>
				</span>
			</div>
		</div>
		<div class="row">
			<button style="width:220px" type="submit" class="btn btn-primary" onclick="play_button('ranked');">Play Ranked</button>
		</div>
		<div class="row">
			<button style="width:220px" type="submit" class="btn btn-primary" onclick="play_button('casual');">Play Casual</button>
		</div>
		<div class="row">
			<button style="width:220px" type="submit" class="btn btn-primary" onclick="create_game();">Custom Game</button>
		</div>
	</div>
  </body>
  <footer>
  </footer>
</html>