<!doctype html>
<html lang="en">
  <head>
	<title>Website Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/glyphicons.css">
	<link rel="stylesheet" href="/css/main.css">
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="/scripts/core.js"></script>
  </head>
  <body>
  
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<span class="pull-right">
					<button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</button>
					<button style="margin:0px 10px 0px 0px;" type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#logIn"><span class="glyphicon glyphicon-log-in"></span> Login</button>
				</span>
			</div>
		</div>
	</div>
	
	<!-- SignUp Modal -->
	<div class="container">
		<div class="modal fade" id="signUp" role="dialog">
			<div class="modal-dialog" style="width:450px;">
				<!-- Modal content -->
				<div class="modal-content">
					<div class="modal-header" style="background-color:#337ab7;color:rgb(255,255,255);">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Sign Up</h4>
					</div>
					<div class="modal-body">
						<table><td style="width:220px;">
							<div class="form-group has-feedback">
								<input id="email" type="text" class="form-control" placeholder="email" onblur="desel_email(this);" onfocus="sel_auth_input(this);">
								<span class="glyphicon form-control-feedback"></span>
							</div>
							<div class="form-group has-feedback">
								<input id="usr" type="text" class="form-control" placeholder="new username" onblur="desel_usr(this);" onfocus="sel_auth_input(this);">
								<span class="glyphicon form-control-feedback"></span>
							</div>
							<div class="form-group has-feedback">
								<input id="pwd" type="password" class="form-control" placeholder="set password" onblur="desel_pwd(this);" onfocus="sel_auth_input(this);">
								<span class="glyphicon form-control-feedback"></span>
							</div>
							<div class="form-group has-feedback">
								<input id="cfpwd" type="password" class="form-control" placeholder="confirm password" onblur="desel_cfpwd(this);" onfocus="sel_auth_input(this);">
								<span class="glyphicon form-control-feedback"></span>
							</div>
							<label>
								<input id="terms-agree" type="checkbox" value=""> I agree to the <a href="#" onclick="window.open('/tou');">terms of use</a>
								<div style="margin:0px 17px;"> and the <a href="#" onclick="window.open('/privacy');">privacy policy</a>.</div>
							</label>
							<button style="width:220px" type="submit" class="btn btn-primary" onclick="complete_registration();">Register</button>
						</td><td id="register-warning-box" style="vertical-align:top;padding:0px 0px 0px 15px">
						</td></table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- LogIn Modal -->
	<div class="container">
		<div class="modal fade" id="logIn" role="dialog">
			<div class="modal-dialog" style="width:450px;">
				<!-- Modal content -->
				<div class="modal-content">
					<div class="modal-header" style="background-color:#337ab7;color:rgb(255,255,255);">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Log In</h4>
					</div>
					<div class="modal-body">
						<table><td style="width:220px;">
							<div class="form-group has-feedback">
								<input id="loginname" type="text" class="form-control" placeholder="username or email">
								<span class="glyphicon form-control-feedback"></span>
							</div>
							<div class="form-group has-feedback">
								<input id="loginpwd" type="password" class="form-control" placeholder="password">
								<span class="glyphicon form-control-feedback"></span>
							</div>
							<button style="width:220px" type="submit" class="btn btn-primary" onclick="complete_login();">Log In</button>
						</td><td id="login-warning-box" style="vertical-align:top;padding:0px 0px 0px 15px">
						</td></table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<button style="width:220px" type="submit" class="btn btn-primary" onclick="create_game();">Create Game</button>
		</div>
	</div>
  </body>
  <footer>
	<script src="/scripts/auth.js"></script>
  </footer>
</html>